.gallery
    .gallery__intro
        h1.gallery__title Lightbox, is that still a thing?
        p Well I needed a simple, fullscreen, css based, touch/keyboard friendly lightbox/slideshow and here it is! The script takes in a selector, queries it for all items and creates a lightbox/slideshow out of them.
        p this is the most basic version. The next version will be animated, probably with the popmotion library.
        p Any tips to make this script a bit more 'pluggable' are most welcome in the comments!
    ul
        li.gallery__item
            a.gallery__itemLink(href="https://farm5.staticflickr.com/4390/36837410552_88e7054780_k_d.jpg" data-rel='aiLightbox')
                img.gallery__itemThumb(src="https://farm5.staticflickr.com/4390/36837410552_fbeb6d1cdc_q_d.jpg")
        li.gallery__item
            a.gallery__itemLink(href="https://farm5.staticflickr.com/4357/36172707494_53c0f25d98_h_d.jpg" data-rel='aiLightbox')
                img.gallery__itemThumb(src="https://farm5.staticflickr.com/4357/36172707494_2b8ea05f04_q_d.jpg")
        li.gallery__item
            a.gallery__itemLink(href="https://farm5.staticflickr.com/4347/36857337771_4092a556e7_k_d.jpg" data-rel='aiLightbox')
                img.gallery__itemThumb(src="https://farm5.staticflickr.com/4347/36857337771_d1bb7f798a_q_d.jpg")
        li.gallery__item
            a.gallery__itemLink(href="https://farm5.staticflickr.com/4421/36997408855_a0a13bae79_k_d.jpg" data-rel='aiLightbox')
                img.gallery__itemThumb(src="https://farm5.staticflickr.com/4421/36997408855_bfdb9f1fba_q_d.jpg")
        li.gallery__item
            a.gallery__itemLink(href="https://farm5.staticflickr.com/4388/36996947395_8577ae759c_k_d.jpg" data-rel='aiLightbox')
                img.gallery__itemThumb(src="https://farm5.staticflickr.com/4388/36996947395_db3c348ccb_q_d.jpg")
        li.gallery__item
            a.gallery__itemLink(href="https://farm5.staticflickr.com/4379/36844732181_a6b854636e_k_d.jpg" data-rel='aiLightbox')
                img.gallery__itemThumb(src="https://farm5.staticflickr.com/4379/36844732181_78bd19e9eb_q_d.jpg")
        li.gallery__item
            a.gallery__itemLink(href="https://farm5.staticflickr.com/4333/36825444362_d157245677_k_d.jpg" data-rel='aiLightbox')
                img.gallery__itemThumb(src="https://farm5.staticflickr.com/4333/36825444362_4291ce6d1e_q_d.jpg")
        li.gallery__item
            a.gallery__itemLink(href="https://farm5.staticflickr.com/4348/36844765631_1f3df298d8_k_d.jpg" data-rel='aiLightbox')
                img.gallery__itemThumb(src="https://farm5.staticflickr.com/4348/36844765631_03e90607bd_q_d.jpg")